/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #3A4A4F;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.center {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.flex {
  display: flex;
}

.spacebtw {
  justify-content: space-between;
}

h1 {
  padding: 2rem 0;
  font-size: 2rem;
  font-weight: 700;
  color: white;
}

.head-nav {
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 0.2rem;
  border-top: 5px solid #1A9CC0;
  margin-bottom: 2rem;
}
.head-nav div a {
  color: #1A9CC0;
  font-size: 1.5rem;
  font-weight: 600;
}

.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 60vh;
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}

.grid {
  position: relative;
  background-color: white;
  padding: 0.5rem 1rem;
  color: #50656c;
  border-radius: 0.2rem;
  border-top: 5px solid #1A9CC0;
}
.grid h2 {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
}
.grid p {
  font-size: 1.2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  padding-bottom: 1.5rem;
  text-transform: lowercase;
}
.grid p::first-letter {
  text-transform: capitalize;
}
.grid a {
  color: red;
  font-size: 1.2rem;
  font-weight: 700;
}

.grid-2 {
  grid-row: span 3;
}
.grid-2 .weiss {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 2rem;
}
.grid-2 img {
  width: 100%;
  border-radius: 50%;
}

.foot {
  position: absolute;
  bottom: 0.5rem;
}

.grid-4 {
  grid-row: span 2;
}
.grid-4 p {
  padding-bottom: 0.5rem;
}
.grid-4 .stonks {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 1rem;
}
.grid-4 img {
  width: 100%;
}

.grid-3 {
  padding: 0;
}
.grid-3 h2, .grid-3 p {
  padding: 1rem;
}
.grid-3 .red {
  background-color: red;
  padding: 0.3rem 0;
}
.grid-3 .red a {
  color: white;
  padding: 1rem;
}

.grid-5 {
  padding: 0;
}
.grid-5 div, .grid-5 p {
  padding: 0.5rem 1rem;
}
.grid-5 h2 {
  background-color: #1A9CC0;
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 0.2rem;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
  .grid-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 60vh;
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
  }
  .grid-2 {
    order: 2;
  }
}
@media screen and (max-width: 400px) {
  html {
    font-size: 10px;
  }
  .grid-container {
    margin: 0 0.5rem;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 60vh;
    gap: 1rem;
  }
  .head-nav {
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 0.2rem;
    border-top: 5px solid #1A9CC0;
    margin-bottom: 2rem;
  }
  .head-nav div a {
    color: #1A9CC0;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .grid-2 {
    order: 3;
  }
  .grid-4 {
    order: 2;
  }
  .grid-1 {
    order: 1;
  }
  .grid-3 {
    order: 4;
  }
}/*# sourceMappingURL=style.css.map */